.menu-container {
  list-style-type: none;
  font-size: 1.3rem;
  li {
    padding: 5px 40px;
    &.selected {
      background: silver;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}