.fabric-wrapper {
  flex: 1;
}

.menu {
  box-shadow: 0px 1px 2px grey;
  padding: 20px;

  >*+* {
    margin-top: 20px;
  }
}

.cls-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  > * {
    flex: 1;
  }

  >*+* {
    margin-left: 20px;
  }
}