* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  'header header'
  'nav main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0px;
  header {
    grid-area: header;
    border-bottom: 2px solid black;
  }

  nav {
    grid-area: nav;
    border-right: 2px solid black;
  }

  main {
    grid-area: main;
  }

  header, nav, main {
    padding: 10px;
  }
}